@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.title {
    font-size: 1.5rem;
    color: #111;
    text-align: center;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.bmi-input {
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 100px;
}

.bmi-title {
    font-size: 1.1rem;
    color: #333;
    text-align: center;
}

.form-group {
    width: 500px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.form-group label {
    font-size: 1.5rem;
    color: #333;
    padding: 10px 0;
}

.form-group input[type="text"] {
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid #555;
    padding: 10px;
    outline: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn input[type="submit"] {
    background: transparent;
    border: 1px solid #333;
    padding: 10px 25px;
    margin: 25px;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.bmi-data {
    width: 720px;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 100px;
}

.bmi-data .bmi-title {
    display: flex;
    align-self: center;
}

.bmi-data p {
    font-size: 1.3rem;
    color: #333;
    padding: 0;
}

.bmi-data p span {
    padding-left: 10px;
    font-weight: bold;
    text-decoration: underline;
}

p {
    text-align: center;
    padding-top: 25px;
    color: #333;
}

p a {
    color: #111;
}